<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
        <link rel="stylesheet" href="../f5static/tree.css" type="text/css" charset="utf-8">
    </head>
    <body>
        <%- _htmltext %>
        <div>
            <input id="urlContainer" type="text" value="http://localhost:3000" />
            <input type="button" value="I Can't Copy Yet" />
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect(location.hostname);
            socket.on('reload', function (data) {
                window.location.reload();
            });
        </script>
    </body>
</html>
