<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <style type="text/css">
      ul {
        padding:5px 8px;
        background:#F8F8F8;
        margin:5px;
        border: 1px solid #CACACA;
        border-radius:3px;
        box-shadow:0 0 5px #ccc;
      }
      ul li {
        list-style-type:none;
        border-bottom:1px solid #eee;
        padding:3px;
      }
      .seleted_item{
          background:#99f;
      }
      .seleted_item a{
          color:white;
      }
      #urlContainer{
          width:300px;
          padding-left:5px;
      }
      ul li a {
        color:#4183C4;
        text-decoration:none
      }
      ul li a:hover {
        text-decoration:underline
      }
      ul li span {
        background-image:url(http://ww4.sinaimg.cn/large/a74ecc4cjw1dzpqtxix8cj.jpg);
        background-repeat:no-repeat;
        display:inline-block;
        width:20px;
        height:16px;
        margin:0 3px
      }
      ul li .folder {
      }
      ul li .file { background-position:0px -20px; }    /*defaultfile*/
      ul li .ft_zip { background-position:0px -45px; }
      ul li .ft_html { background-position:-20px 0px; } /*textfile*/
      ul li .ft_css { background-position:-20px -20px; }
      ul li .ft_javascript { background-position:-20px -45px; }
      ul li .ft_image { background-position:-40px 0px; }/*imagefile*/
      .subdir ul {
        box-shadow:0 0 5px #ccc inset;
        background: #fff;
      }
      .folded > ul {
        display: none;
      }
      .unfold > ul {
        display:block;
      }
  </style>
  </head>

  <body>
    <%- _htmltext %>
    <div>
        <input id="urlContainer" type="text" value="http://localhost:3000" />
        <input type="button" value="I Can't Copy Yet" />
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect(location.hostname);
      socket.on('reload', function (data) {
        window.location.reload();
      });
    </script>
    <script>
      var toggleFold = function (obj) { // toggle fold by toggle className
        var cn = obj.parentNode.className;
        if (/\bfolded\b/.test(cn)) { // if folded
          cn = cn.replace(/\bfolded\b/, '') + ' unfold';
        } else {
          cn = cn.replace(/\bunfold\b/g, '') + ' folded'; // if unfold
        }
        obj.parentNode.className = cn.replace("  ", " ")
      }

      //-----------------------------------------
      var fileLi = document.querySelectorAll("ul li:not(.subdir)");
      var seletedClassName = "seleted_item"
      var fileNum = fileLi.length;

      var selectHandleFunc = function(){
          for(var i = 0;i < fileNum;i ++){
              //console.log( fileLi[i]);
              (function( index ){
                  fileLi[index].addEventListener("click",function(){
                      rmSelect()
                      selectItem( fileLi[index] )
                  });
              })(i);
          }
      }
      var selectItem = function( item ){
          item.className = item.className + " " + seletedClassName;
          var urlString = item.getElementsByTagName("a")[0].href;
          setUrlContainer(urlString)
      }

      var rmSelect = function(){
          for(var i = 0;i < fileNum;i ++){
              (function(index){
                  var cn = fileLi[index].className;
                  fileLi[index].className = cn.replace(seletedClassName,"");
              })(i);
          }
      }
      var setUrlContainer = function( url ){
          var base = location.hostname;
          var container = document.getElementById("urlContainer");
          container.value = url;
          container.select();
      }
      selectHandleFunc();
  </script>
  </body>

</html>
