ul {
    padding:5px 8px;
    background:#F8F8F8;
    margin:5px;
    border: 1px solid #CACACA;
    border-radius:3px;
    box-shadow:0 0 5px #ccc;
}
ul li {
    list-style-type:none;
    border-bottom:1px solid #eee;
    padding:3px;
}
.seleted_item{
    background:#99f;
}
.seleted_item a{
    color:white;
}
#urlContainer{
    width:300px;
    padding-left:5px;
}
ul li a {
    color:#4183C4;
    text-decoration:none
}
ul li a:hover {
    text-decoration:underline
}
ul li span {
    background-image:url(../f5static/icons.png);
    background-repeat:no-repeat;
    display:inline-block;
    width:20px;
    height:16px;
    margin:0 3px
}
ul li .folder {
}
ul li .file { background-position:0px -20px; }    /*defaultfile*/
ul li .ft_zip { background-position:0px -45px; }
ul li .ft_html { background-position:-20px 0px; } /*textfile*/
ul li .ft_css { background-position:-20px -20px; }
ul li .ft_javascript { background-position:-20px -45px; }
ul li .ft_image { background-position:-40px 0px; }/*imagefile*/
.subdir ul {
    box-shadow:0 0 5px #ccc inset;
    background: #fff;
}
.folded > ul {
    display: none;
}
.unfold > ul {
    display:block;
}
#image_holder{
    background:rgba(0,0,0,0.5);
    padding:7px;
    border:5px solid rgba(0,0,0,0.7);
    border-radius:5px;
    position:absolute;
    -moz-box-shadow:    1px 1px 2px 1px #666;
    -ms-box-shadow:     1px 1px 2px 1px #666;
    -o-box-shadow:      1px 1px 2px 1px #666;
    -webkit-box-shadow: 1px 1px 2px 1px #666;
    box-shadow:         1px 1px 2px 1px #666;
}
